@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.sectionTitle {
    position: relative;
    padding: 24px 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 44px;
    line-height: 64px;

    @include down("tablet") {
        font-size: 36px;
        line-height: 40px;
    }

    @include down("mobile-large") {
        font-size: 32px;
        line-height: 40px;
    }

     @include down("mobile") {
        font-size: 28px;
        line-height: 36px;
    }
    @include down("mobile") {
        padding: 16px 0;
        font-size: 28px;
        line-height: 40px;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        width: 100%;
        height: 2px;
        background-color: #D0DAE7;
        transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateX(-50%);
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    &:hover {

        &::before,
        &::after {
            width: 0;
        }
    }
}