@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.education {
 
}

.container {
 display: flex;
  flex-direction: column;
  gap: 36px;

  @include down("mobile-large") {
    gap: 32px;
  }

  @include down("mobile") {
    gap: 28px;
  }
}

.grid {
  display: flex;
  gap: 42px;
  justify-content: center;

  @include down("laptop") {
    gap: 24px;
  }

  @include down("tablet") {
    flex-direction: column;
    align-items: center;
  }
}

.column {
  flex: 1;
  max-width: 634px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  color: #323131;
  font-size: 32px;
  font-family: $font-secondary;
  font-weight: 500;
  line-height: 36px;

  @include down("mobile-large") {
    font-size: 28px;
  }
}

.viewAll {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left:16px;
  border-radius: 22px;
  border: 1px solid #94a3b8;
  cursor: pointer;
  transition: $transition-base;
  text-decoration: none;

  @include down("mobile-large") {
    padding: 0;
    border: none;
    background: transparent ;
    gap: 0;
  }

  span {
    color: #404e5e;
    font-size: 20px;
    font-family: $font-secondary;
    font-weight: 400;
    line-height: 24px;

    @include down("mobile-large") {
      display: none;
    }
  }

  &:hover {
    @include up("mobile-large") {
      // border-color: #111111;
      // background-color: rgba(#111111, 0.05);
    }

    .viewAllIcon {
      border-color: #111111;
      transform: translateY(0px);

      &::before {
        height: 100%;
      }

      svg path {
        stroke: #ffffff;
      }
    }
  }
}

.viewAllIcon {
  display: flex ;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: transparent ;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #111111;
    z-index: -1;
    transition: height 0.4s ease;
  }
}.helpText {
  text-align: center;
  color: #323131;
  font-size: 20px;
  font-family: $font-secondary;
  font-weight: 400;
  line-height: 24px;

  a {
    color: inherit;
    text-decoration: none;

    strong {
      font-weight: 700;
      transition: color 0.3s ease;

      &:hover {
        color: $accent;
      }
    }
  }

  @include down("mobile-large") {
    font-size: 16px;
    padding: 0 16px;
    margin-top: 8px;
  }
}
