@import "variables.scss";
@import "mixins.scss";
*{
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
body {
  margin: 0;
  padding: 0;
  color: $text-primary;
  font-weight: 400;
  line-height: 26px;
  font-size: 22px;
  font-family: $font-secondary;
  background: linear-gradient(181deg, #FFF 12.53%, #EBEEF2 62.41%);
  background-attachment: fixed;
  min-height: 100vh;
  
  /* Disable language-specific glyphs (e.g. Bulgarian Cyrillic) */
  font-feature-settings: 'locl' 0;
  -webkit-font-feature-settings: 'locl' 0;
}
h1{
  font-size:56px;
  @include down("tablet") {
    font-size: 44px;
  }
}

h2{
  font-size: 44px;
  color: $text-grey;

  @include down("tablet") {
    font-size: 36px;
  }
  @include down("mobile-large") {
    font-size: 32px;
  }
  @include down("mobile") {
    font-size: 28px;
  }
}

h3{
  font-size: 44px;
  color: $text-grey;
  text-align: center;

  @include down("tablet") {
    font-size: 36px;
  }
  @include down("mobile-large") {
    font-size: 32px;
  }
  @include down("mobile") {
    font-size: 28px;
  }
}

h4{
  font-size: 28px;
  color: $text-black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: 400;
}

.container {
  @include container;
}

.main-flex {
  @include container;
  display: flex;
  flex-direction: column;
  gap: 64px;

  @include down("tablet") {
    gap: 44px;
  }

  @include down("mobile-small") {
    gap: 32px;
  }
}