@import "../../../styles/variables";
@import "../../../styles/mixins";

.footer {
  padding: 3rem $container-padding;
  margin-top: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  @include glass-effect;
  border-radius: 0;

  .content {
    max-width: $max-width;
    margin: 0 auto;
    @include flex-between;

    .logo {
      font-weight: 900;
      opacity: 0.3;
    }

    .copy {
      font-size: 0.875rem;
      opacity: 0.6;
    }
  }
}
