@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.blogCard {
  width: 367px;
  height: 354px;
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.20);
  border-radius: 12px;
  border: 2px solid #D0DAE7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-decoration: none;
  transition: all 0.3s ease;

  


  &:hover {
    background: rgba(255, 255, 255, 0.30);
    border-color: #F06529;
    
    .icon {
      background-color: #0A0A0A ;
      border-color: #0A0A0A ;

      svg path {
        stroke: #ffffff;
      }
    }
  }

  @include down(1024px) {
    width: 328px;
    height: auto;
    min-height: 354px;
    padding: 16px 24px;
  }

  @include down("mobile-large") {
    width: 284px;
    min-height: 320px;
    padding: 24px 20px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
}

.authorRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.authorLabel, .authorName {
  color: black;
  font-size: 20px;
  font-family: $font-secondary;
  font-weight: 400;
  display: inline-block;
}

.title {
  color: black;
  font-size: 32px;
  font-family: $font-secondary;
  font-weight: 500;
  line-height: 36px;
  margin: 0;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;

  @include down("mobile-large") {
    font-size: 26px;
    line-height: 30px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.readLabel {
  color: #334155;
  font-size: 24px;
  font-family: $font-secondary;
  font-style: italic;
  font-weight: 500;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 44px !important;
  height: 44px !important;
  border: 2px solid #D0DAE7 !important;
  color: #D0DAE7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  background-color: transparent;

  svg {
    width: 20px;
    height: 20px;
  }
}

.article {
  display: contents;
}
